.cardsParent{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #802c6e;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;

}


.cardsParent .sortParent{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}
.sortParent{
    padding: 2rem;
    outline: none;
    border-radius: 15%;
}




/* ==================== responsive ============================== */
@media only screen and (min-width: 576px) {
    .card{
        width: 70%;
    }

    .cardPart{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}






@media only screen and (max-width: 992px) {
    .card{
        width: 60%;
    }

    .cardPart{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}


