
.cardParent{
    border: 1px solid black;
    border-radius: 15%;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 1rem 1.2rem;
    margin: 1rem;
    height: 47vh;
    display: flex;
}
.imageCard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardParent .imageCard {

    width: 15vw;
    height: 100%;
    border-radius: 10%;
    margin-right: 0.5rem;
}

.cardParent .footer_Card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardParent .footer_Card .buy_Button{
    background-color: #802c6e;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 0.5rem;
}
.cardParent .info_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-weight: bold;
}
.starticon{
    color: goldenrod;
}

.cardParent .footer_Card .detail_Button{
    color: black;
    background-color: #3D8BFD;
    border-radius: 15%;
    padding: 0.5rem;

}
.cardParent .footer_Card .like{
    color: red;
    font-weight: bold;
    font-size: 1.5rem;

}
.plusButton , .minusButton , .trashButton {
    font-size: 1.5rem;
}
/* --------------------------------- responsive ------------------------------- */


@media only screen and (max-width: 992px) {
    .cardParent .imageCard {
        width: 36vw !important;
        height: 80%;
    }
    .cardParent .footer_Card .buy_Button{
        width: 3rem;
        height: auto;
        padding: 0.5rem;
    }





}


