.cardsParent{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.cardsParent .sortParent{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

