
.DetailParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #802c6e;
}
.innerparent{
    border: 2px solid #802c6e;
    padding: 2rem;
    border-radius: 5%;
    width: 50%;
    background-color: white;

}
.imageDetail{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.imageDetail img {
    width: 8rem;
}
.Backicon{
    color: black;
}
.Backicon a {
    color: Black;
}

.buy_Button{
    background-color: #802c6e;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 0.5rem;
    font-size: 1rem;
}
.plusButton , .minusButton , .trashButton {
    font-size: 1.3rem;
}
.star {
    color: gold;
}
.rating{
    font-size: 1.3rem;
}
/* ------------------ responsive -------------------- */


@media only screen and (max-width: 576px) {
    .DetailParent{
        height: 100%;
        padding: 1rem;
    }
    .innerparent{

        width: 80%;
        height: 80%;
    }
    .imageDetail{
        padding: 0;
    }
    .imageDetail img {
        width: 6rem;
        margin: 0;
    }
}

