.likecart{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    background-color: #802c6e;
    border-top: 1px solid white;
    min-height: 100vh;

}
.likeparent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Backicon a{
    color: white;
}
