.likecart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15%;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem;
    /* width: 40vw; */
    background-color: white;
}
.image_part img{
    width: 10vw;
    height: 10vw;
}